<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de Contactos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let user of users | async">
        <ion-card>
          <ion-card-content>
            <img [src]="user.picture.medium">
            <h1>{{ user.name.first }} {{ user.name.last }}</h1>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget justo arcu. Donec sed eros sit amet urna convallis ultricies eget vel sem. Nam massa velit, rhoncus id ligula non, auctor vestibulum libero.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
